﻿<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="search_input" id="search_input_box">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="index.html">
                        <img src="img/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item submenu dropdown">
                                <a onclick="window.location.href='/product'" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">
                                    Shop
                                </a>
                            </li>
                            @if (_users != null)
                            {
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">
                                        @_users.FullName
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a onclick="window.location.href='/listorder'" class="nav-link">Order history</a>
                                        </li>
                                        <li class="nav-item">
                                            <a onclick="window.location.href='/Changeinfopage'" class="nav-link">Edit info</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" @onclick="() => OnLogoutClick()">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item submenu dropdown">
                                    <a onclick="window.location.href='/login'" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">
                                        Login/Register
                                    </a>
                                </li>
                            }
                            

                        </ul>
                        @if (_users != null)
                        {
                            @if (_users.RoleId == 0)
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-item">
                                        <a href="/cart" class="cart">
                                            <span class="ti-bag"></span>
                                        </a>
                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item">
                                    <a href="/cart" class="cart">
                                        <span class="ti-bag"></span>
                                    </a>
                                </li>
                            </ul>
                        }
                        
                    </div>
                </div>
            </nav>
        </div>
    </div>


</header>
<!-- End Header Area -->

@code {
    private string keyword;

    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private Users _users;

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await Http.GetAsync("/api/users/currentuser");
        if (response.IsSuccessStatusCode)
        {
            _users = await response.Content.ReadFromJsonAsync<Users>();
        }
    }

    private void OnLoginClick()
    {
        NavigationManager.NavigateTo("login", true);
        this.StateHasChanged();
    }

    private async Task OnLogoutClick()
    {
        var response = await client.GetAsync("api/users/logout");
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("login", true);
        }
    }

    private void OnRegisterClick()
    {
        NavigationManager.NavigateTo("registerPage");
        
    }

}