﻿@page "/edit/{productId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Edit product Details</h1>
                    <nav class="d-flex align-items-center">
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <ProductFormComponent product="@product"
                                      OnValidSubmit="@OnUpdateProductButtonClick"
                                      ButtonText="Update Phone"
                                      brands="@brands"
                                      content="@content">
                </ProductFormComponent>
            </div>
        </div>
    </div>

@code {
    Product product = new Product();
    Brand[] brands = new Brand[0];
    MultipartFormDataContent content = new MultipartFormDataContent();
    [Parameter] public int productId { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        product = await Http.GetFromJsonAsync<Product>($"/api/product/byId?id={productId}");
    }

    protected override async Task OnInitializedAsync()
    {
        brands = await client.GetFromJsonAsync<Brand[]>("api/brand");
    }


    public async Task OnUpdateProductButtonClick()
    {
        await client.PostAsync("api/upload", content);
        var response = await client.PutAsJsonAsync<Product>("api/product", product);
        string result = response.Content.ReadAsStringAsync().Result;
        if (!string.IsNullOrEmpty(result))
        {
            await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        }
        else
        {
            await js.InvokeVoidAsync("alert", $"Updated fail!");
        }
    }

}