﻿@page "/product/{productId}"

@if (_product != null)
{
        <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Product Details Page</h1>
                    <nav class="d-flex align-items-center">
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="">
                        <div class="single-prd-item">
                            <img id="imageUpload" class="img-fluid" src="images/@_product.ImagePath" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="">
                        <h3 class="mb-30">@_product.Name</h3>
                        <br><h4 class="mb-30">Price: $@_product.Price</h4>
                        <br><h4 class="mb-30">Instock: @_product.Quantity</h4>
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <button @onclick="() => AddToCart(_product.Id)" class="genric-btn  primary-btn">Add to cart</button>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
     @if (_product != null)
     {
         <!-- Start related-product Area -->
         <section class="related-product-area section_gap_bottom">
             <div class="container">
                 <div class="row justify-content-center">
                     <div class="col-lg-10">
                         <div class="section-title">
                             <h4>@_product.Description</h4>
                         </div>
                     </div>
                 </div>
             </div>
         </section>
         <!-- End related-product Area -->
     }

    <!--================End Single Product Area =================-->
                                                
}

@code {

    // Input parameters
    [Parameter]
    public string ProductId { get; set; }

    private Product _product;

    protected override async Task OnInitializedAsync()
    {
        _product = await Http.GetFromJsonAsync<Product>($"/api/product/byId?id={ProductId}");
    }

    public async Task AddToCart(int productId)
    {
        await client.PutAsJsonAsync($"api/cart?productId={productId}", "");
    }
}