﻿ @page "/addproduct"
@using PhoneShop.Client.Components
@inject HttpClient Http
@inject HttpClient client
@inject IJSRuntime js
@inject NavigationManager uriHelper

 <!-- Start Banner Area -->
     <section class="banner-area organic-breadcrumb">
         <div class="container">
             <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                 <div class="col-first">
                     <h1>Add product</h1>
                 </div>
             </div>
         </div>
     </section>
 <!-- End Banner Area -->
     <!--================Single Product Area =================-->
     <div class="product_image_area">
         <div class="container">
             <div class="row s_product_inner">
                  <ProductFormComponent 
                     product="@product" 
                     OnValidSubmit="@OnAddProductButtonClick" 
                     ButtonText="Add Phone" 
                     brands="@brands"
                     content="@content">
                 </ProductFormComponent>
             </div>
         </div>
     </div>

@code {
    Product product = new Product();
    Brand[] brands = new Brand[0];
    MultipartFormDataContent content = new MultipartFormDataContent();

    public async Task OnAddProductButtonClick()
    {
        await client.PostAsync("api/upload", content);
        var response = await client.PostAsJsonAsync("api/product", product);
        if (response.IsSuccessStatusCode)
        {
            string result = response.Content.ReadAsStringAsync().Result;
            if (!string.IsNullOrEmpty(result))
            {
                await js.InvokeVoidAsync("alert", $"Add phone Successfully!");

            }
            else
            {
                await js.InvokeVoidAsync("alert", $"Add phone fail!");

            }
        }
        else
        {
            await js.InvokeVoidAsync("alert", $"Login require!");
        }
    }


    protected override async Task OnInitializedAsync()
    {
        brands = await client.GetFromJsonAsync<Brand[]>("api/brand");
    }



}
