﻿@page "/brand"
@inject HttpClient Http
@inject HttpClient client
@inject IJSRuntime js

<h3>Brand</h3>

<div class="form-group">
    <a class="btn btn-success" href="/brand/create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>
@if (brands == null)
{
    <text>Loading...</text>
}
else if (brands.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (Brand brand in brands)
        {
            <tr>
                <td>@brand.Id</td>
                <td>@brand.Name</td>
                <td>@brand.Status</td>
                <td>
                    <a class="btn btn-success" href="brand/edit/@brand.Id">Edit</a>
                    <button class="btn btn-danger" @onclick="@(() => Delete(brand.Id))">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
@code {
    Brand[] brands { get; set; }
    protected override async Task OnInitializedAsync()
    {
        brands = await client.GetFromJsonAsync<Brand[]>("api/brand");
    }
    async Task Delete(int brandId)
    {
        var brand = brands.First(x => x.Id == brandId);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {brand.Name}'s ({brand.Id}) Record?"))
        {
            await client.DeleteAsync($"api/brand?brandId={brandId}");
            await OnInitializedAsync();
        }
    }
}