@page "/Cart"
@inject NavigationManager NavigationManager;
<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->




 <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (_cart == null)
                           {
                               <text>Loading...</text>
                           }
                           else if (_cart.Size() == 0)
                           {
                               <h1>Cart is empty</h1>
                           }
                           else
                           {
                               @foreach (Cart.CartItem item in _cart.CartItems)
                               {
                                  <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="images/@item.Product.ImagePath" width="250" height="auto" alt="">
                                            </div>
                                            <div class="media-body">
                                                <p>@item.Product.Name (@item.Product.Quantity IN STOCK)</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>$@item.Product.Price</h5>
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <input @bind="item.Quantity" @bind:event="oninput" @onchange="() => Update(item.Product.Id, item.Quantity)" type="number" min="0" max="1000" name="quantity" id="sst$@item.Product.Id" maxlength="3"  title="Quantity:"
                                                    class="input-text qty" required>
                                            @* <button onclick="var result = document.getElementById('sst$@item.Product.Id'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" *@
                                            @*         class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button> *@
                                            @* <button onclick="var result = document.getElementById('sst$@item.Product.Id'); var sst = result.value; if( !isNaN( sst )) result.value-- ; return false;" *@
                                            @*         class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button> *@
                                        </div>
                                    </td>
                                    <td>
                                        <h5>$@(item.Product.Price * item.Quantity)</h5>
                                    </td>
                                  </tr>
                               }
                               <tr>
                                   <td></td>
                                   <td><h4>Subtotal</h4></td>
                                   <td></td>
                                   <td>
                                       <h4>$@_cart.GetTotal()</h4>
                                   </td>
                               </tr>
                              
                           }
                            @* <button class="btn btn-danger" @onclick="@(() => Update())">Update</button> *@
                            <tr class="out_button_area">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="/product">Continue Shopping</a>
                                        @if (_cart != null && _cart.Size() > 0)
                                        { 
                                            <a class="primary-btn" @onclick="() => NavigateToOrderInformationPage()">Proceed to checkout</a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </section>
     <!--================End Cart Area =================-->




@code {
    private Cart _cart;
    private string _errorMessage;

    protected override async Task OnInitializedAsync()
    {
        _cart = await client.GetFromJsonAsync<Cart>("api/cart");
    }

    private void Delete(int productId)
    {
        client.DeleteAsync($"api/cart?productId={productId}");
    }

    private async Task Update(int productId, int quantity)
    {
         await client.PutAsJsonAsync($"api/cart/updateOneItem?productId={productId}&quantity={quantity}", "");
        _cart = await client.GetFromJsonAsync<Cart>("api/cart");
    }
    
    private void IncreaseQuantity(int productId)
    {
        client.DeleteAsync($"api/cart?productId={productId}");
    }
    
    private async Task NavigateToOrderInformationPage()
    {
        var result = await Http.GetFromJsonAsync<bool>("api/cart/checkstock");
        if (result)
        {
            NavigationManager.NavigateTo("OrderInformationPage");
        }
        else
        {
            _errorMessage = "The result is out of stock";
        }
    }

}