﻿@page "/"
 <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shop Category page</h1>
                </div>
            </div>
        </div>
    </section>
<!-- End Banner Area -->

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code{

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.NavigateTo("product");
    }

}