﻿@page "/product"

@inject HttpClient Http
@inject HttpClient client
@inject IJSRuntime js
@inject NavigationManager NavigationManager;

@using PhoneShop.Client.Components
<!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!-- start main -->
    <div class="container">
        <div class="row">
            <!-- Start Filter Bar -->
            
            <div class="col-xl-3 col-lg-4 col-md-5">
                <SearchProductComponent OnClick="OnSearchButtonClick"></SearchProductComponent>
                @if (_users != null)
                {
                    @if (_users.RoleId == 1)
                    {
                        <div class="">
                            <a onclick="window.location.href='/addproduct'"  class="genric-btn info radius">Create Phone</a>
                        </div>
                    }
                }
                
                <div class="sidebar-filter mt-50">
                    <div class="common-filter">
                        <div class="head">Price</div>
                        <RangePriceComponent OnMinPriceChange="OnMinPriceChange" OnMaxPriceChange="OnMaxPriceChange"></RangePriceComponent>
                    </div>
                </div>
                <div class="sidebar-categories">
                    <div class="head">Browse Categories</div>
                    <SelecBrandComponent brands="@brands" OnSelectBrand="OnSelectBrand"></SelecBrandComponent>
                </div>

            </div>
            <!-- End Filter Bar -->

            <div class="col-xl-9 col-lg-8 col-md-7">

                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">

                        @foreach (var product in products)
                        {
                            <!-- single product -->
                            
                            @if (product.Quantity > 0)
                            {
                                //if is guest
                                <div class="col-lg-4 col-md-6" >
                                    @if (_users == null)
                                    {
                                        <div class="single-product">
                                            <img @onclick="() => ViewProductDetails(product.Id)" class="img-fluid" src="/images/@product.ImagePath" alt="@product.Name">
                                            <div class="product-details">
                                                <h6 @onclick="() => ViewProductDetails(product.Id)">@product.Name</h6>

                                                <div class="price" @onclick="() => ViewProductDetails(product.Id)">
                                                    <h6>$@product.Price</h6>
                                                </div>
                                                <div class="prd-bottom">
                                                    <a  @onclick="() => AddToCart(product.Id)" class="social-info">
                                                        <span class="ti-bag"></span>
                                                        <p class="hover-text">ADD TO BAG</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        //if is user
                                        @if (_users.RoleId == 0)
                                        {
                                            <div class="single-product">
                                                <img @onclick="() => ViewProductDetails(product.Id)" class="img-fluid" src="/images/@product.ImagePath" alt="@product.Name">
                                                <div class="product-details">
                                                    <h6 @onclick="() => ViewProductDetails(product.Id)">@product.Name</h6>

                                                    <div class="price" @onclick="() => ViewProductDetails(product.Id)">
                                                        <h6>$@product.Price</h6>
                                                    </div>
                                                    <div class="prd-bottom">
                                                        <a  @onclick="() => AddToCart(product.Id)" class="social-info">
                                                            <span class="ti-bag"></span>
                                                            <p class="hover-text">ADD TO BAG</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            //if is admin
                                            <div class="single-product">
                                                <img @onclick="() => EditProductDetails(product.Id)" class="img-fluid" src="/images/@product.ImagePath" alt="@product.Name">
                                                <div class="product-details">
                                                    <h6 @onclick="() => ViewProductDetails(product.Id)">@product.Name</h6>

                                                    <div class="price" @onclick="() => ViewProductDetails(product.Id)">
                                                        <h6>$@product.Price</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                </section>

                <!-- Start Pageing Bar -->
                
                   <nav aria-label="...">
                       <ul class="pagination">
                           <li class="page-item">
                               <button class="btn" @onclick="@(() => OnPreviousBtnClick(keyword))">Previous</button>
                           </li>
                           <li class="page-item"><a class="page-link" @onclick="@(() => AccessSpecificPage(keyword, prePage))">@prePage</a></li>
                           <li class="page-item active">
                               <a class="page-link">@currentPage<span class="sr-only">(current)</span></a>
                           </li>
                           <li class="page-item"><a class="page-link" @onclick="@(() => AccessSpecificPage(keyword, nextPage))">@nextPage</a></li>
                           <li class="page-item">
                               <button class="btn" @onclick="@(() => OnNextBtnClick(keyword))">Next</button>
                           </li>
                       </ul>
                   </nav>

                <!-- End Pageing Bar -->
            </div>
        </div>
    </div>
    <!-- end main -->

@code {
    Product[] products = new Product[0];
    Brand[] brands = new Brand[0];
    Users _users;
    protected override async Task OnInitializedAsync()
    {
        // products = await client.GetFromJsonAsync<Product[]>("api/product");
        products = await client.GetFromJsonAsync<Product[]>(
            $"api/product/keyword?keyword={""}&minPrice={minPrice}&maxPrice={maxPrice}&brandId={brandId}&page={currentPage}");
        brands = await client.GetFromJsonAsync<Brand[]>("api/brand");
        
        HttpResponseMessage response = await Http.GetAsync("/api/users/currentuser");
        if (response.IsSuccessStatusCode)
        {
            _users = await response.Content.ReadFromJsonAsync<Users>();
        }
    }


    int currentPage = 1;
    int prePage = 0;
    int nextPage = 2;
    string keyword = "";
    int brandId = 0;
    decimal minPrice = 0;
    decimal maxPrice = 50000000;
    
    //https://stackoverflow.com/questions/56436577/blazor-form-submit-needs-two-clicks-to-refresh-view
    public async Task OnSearchButtonClick(string keyword)
    {
        products = await client.GetFromJsonAsync<Product[]>(
            $"api/product/keyword?keyword={keyword}&minPrice={minPrice}&maxPrice={maxPrice}&brandId={brandId}&page={1}");
        this.keyword = keyword;
    }

    public async Task DeleteProduct(Product product)
    {
        if (!await js.InvokeAsync<bool>("confirm", $"Are you sure you want to delete the Product '{product.Name}'?"))
            return;
        product.Status = false;
        await client.PutAsJsonAsync<Product>("api/product", product);
        products = await client.GetFromJsonAsync<Product[]>(
  $"api/product/keyword?keyword={keyword}&minPrice={minPrice}&maxPrice={maxPrice}&brandId={brandId}&page={currentPage}");
    }

    public async Task OnNextBtnClick(string keyword)
    {
        Product[] tmpProducts = await client.GetFromJsonAsync<Product[]>(
            $"api/product/keyword?keyword={keyword}&minPrice={minPrice}&maxPrice={maxPrice}&brandId={brandId}&page={currentPage + 1}");
        if (tmpProducts.Length > 0)
        {
            products = tmpProducts;
            currentPage += 1;
            prePage += 1;
            nextPage += 1;
        }

    }
    public async Task OnPreviousBtnClick(string keyword)
    {

        if (currentPage > 1)
        {
            products = await client.GetFromJsonAsync<Product[]>(
            $"api/product/keyword?keyword={keyword}&minPrice={minPrice}&maxPrice={maxPrice}&brandId={brandId}&page={currentPage - 1}");
            currentPage -= 1;
            prePage -= 1;
            nextPage -= 1;

        }
    }

    public async Task AccessSpecificPage(string keyword, int selectedPage)
    {
        if (selectedPage >= 1 && selectedPage != currentPage)
        {
            Product[] tmpProducts = await client.GetFromJsonAsync<Product[]>(
          $"api/product/keyword?keyword={keyword}&minPrice={minPrice}&maxPrice={maxPrice}&brandId={brandId}&page={selectedPage}");
            if (tmpProducts.Length > 0)
            {
                products = tmpProducts;
                currentPage = selectedPage;
                prePage = currentPage - 1;
                nextPage = currentPage + 1;
            }
        }
    }

    public async Task OnSelectBrand(string strBrandId)
    {
        int brandId = int.Parse(strBrandId);
        this.brandId = brandId;
        products = await client.GetFromJsonAsync<Product[]>(
           $"api/product/keyword?keyword={keyword}&minPrice={minPrice}&maxPrice={maxPrice}&brandId={brandId}&page={1}");
        currentPage = 1;
        prePage = 0;
        nextPage = 2;
    }

    public async Task OnMinPriceChange(string strMinPrice)
    {
        this.minPrice = decimal.Parse(strMinPrice);
        products = await client.GetFromJsonAsync<Product[]>(
   $"api/product/keyword?keyword={keyword}&minPrice={minPrice}&maxPrice={maxPrice}&brandId={brandId}&page={1}");
        currentPage = 1;
        prePage = 0;
        nextPage = 2;
    }
    
    public async Task OnMaxPriceChange(string strMaxPrice)
    {
        this.maxPrice = decimal.Parse(strMaxPrice);
        products = await client.GetFromJsonAsync<Product[]>(
   $"api/product/keyword?keyword={keyword}&minPrice={minPrice}&maxPrice={maxPrice}&brandId={brandId}&page={1}");
        currentPage = 1;
        prePage = 0;
        nextPage = 2;
    }

    private void ViewProductDetails(int productId)
    {
        NavigationManager.NavigateTo($"/product/{productId}");
    }

    private void EditProductDetails(int productId)
    {
        NavigationManager.NavigateTo($"/edit/{productId}");
    }
    
    public async Task AddToCart(int productId)
    {
        await client.PutAsJsonAsync($"api/cart?productId={productId}", "");
    }
}