﻿@page "/ListOrder"
@inject NavigationManager NavigationManager;


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>List Order Page</h1>
                <nav class="d-flex align-items-center">
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container">
    <div class="billing_details">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>PaymentStatus</th>
                    <th>UserId</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>PaymentMethod</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var order in orders)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.Time</td>
                        <td>@order.Status</td>
                        <td>@order.PaymentStatus</td>
                        <td>@order.UserId</td>
                        <td>@order.Address</td>
                        <td>@order.Type</td>
                        <td>@order.PaymentMethod</td>
                        @*https://dev.to/petermilovcik/blazor-how-to-bind-table-row-data-to-button-click-2l3l*@
                        @*https://stackoverflow.com/questions/51226405/net-core-blazor-app-how-to-pass-data-between-pages*@
                        <td>
                            <button class="btn btn-outline-info"
                                    @onclick="() => ViewDetails(order)">
                                View details
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private Orders[] orders = new Orders[0];

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("/api/order");
        if (response.StatusCode == HttpStatusCode.Unauthorized)
        {
            NavigationManager.NavigateTo("login");
        }
        else
        {
            orders = await response.Content.ReadFromJsonAsync<Orders[]>();
        }
    }

    private void ViewDetails(Orders order)
    {
        NavigationManager.NavigateTo($"orderDetail/{order.Id}");
    }

}