﻿@page "/OrderInformationPage"
@inject NavigationManager NavigationManager;

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

@if (_message != null)
{
    <div class="alert alert-danger">@_message</div>
}

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                    <!--                    <form action="MainController">-->
                    <div class="col-lg-12">
                            <h3>Billing Details</h3>
                            <div class="row contact_form">
                                <div class="col-md-12 form-group p_star">
                                    @* <span><ValidationMessage For="@(() => _orderInfo.FullName)"/></span> *@
                                    <input @bind="_orderInfo.FullName" @bind:event="oninput" type="text" required class="form-control" id="fullName" name="fullName" placeholder="Full name *">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    @* <span><ValidationMessage For="@(() => _orderInfo.Address)"/></span> *@
                                    <input @bind="_orderInfo.Address" @bind:event="oninput" type="text" required class="form-control" id="adress" name="fullName" placeholder="Address*">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    @* <span><ValidationMessage For="@(() => _orderInfo.Phone)"/></span> *@
                                    <input @bind="_orderInfo.Phone" @bind:event="oninput" type="text" required class="form-control" id="phone" name="fullName" placeholder="Phone number *">
                                </div>
                                

                            </div>
                        </div>
                    
                    <div class="col-lg-12">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                                @if (_cart != null)
                                {
                                    @foreach (var item in _cart.CartItems)
                                    {
                                        <li><a href="#">@item.Product.Name <span class="middle">x @item.Quantity</span> <span class="last">$@(item.Product.Price * item.Quantity)</span></a></li>

                                    }
                                }

                            </ul>
                            @if (_cart != null)
                            {
                                <ul class="list list_2">
                                    <li><a href="#">Subtotal <span>$@_cart.GetTotal()</span></a></li>
                                    <li><a href="#">Shipping <span>Free ship (COD)</span></a></li>
                                    <li><a href="#">Total <span>$$@_cart.GetTotal()</span></a></li>
                                </ul>
                            }
                            <a class="primary-btn" @onclick="() => OnValidSubmit()">Checkout</a>

                        </div>
                    </div>
                    <!--                    </form>-->
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->


@code {

    private readonly OrderInfo _orderInfo = new OrderInfo();
    private string _message;
    private Cart _cart;
    protected override async Task OnInitializedAsync()
    {
        _cart = await client.GetFromJsonAsync<Cart>("api/cart");
    }
    
    private async Task OnValidSubmit()
    {
        var response = await Http.PostAsJsonAsync("api/order/checkout", _orderInfo);
        string orderId = response.Content.ReadAsStringAsync().Result;
        if (!string.IsNullOrEmpty(orderId))
        {
            NavigationManager.NavigateTo($"orderDetail/{orderId}");
        }
        else
        {
            _message = "Unable to purchase";
        }
    }

}