﻿@page "/orderDetail/{orderId}"
@inject NavigationManager NavigationManager;

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Confirmation</h1>

            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Order Details Area =================-->
<section class="order_details section_gap">
    <div class="container">
        <h3 class="title_confirmation">Thank you for buy our phone.</h3>
        @if (_order != null)
        {
            <div class="row order_d_inner">
                <div class="col-lg-6">
                    <div class="details_item">
                        <h4>Order Info</h4>
                        <ul class="list">
                            <li>
                                <a href="#"><span>Order number</span> : @_order.Id</a>
                            </li>
                            <li>
                                <a href="#"><span>Date</span> : @_order.Time.ToString()</a>
                            </li>
                            <li>
                                <a href="#"><span>Total</span> : total</a>
                            </li>
                            <li>
                                <a href="#"><span>Payment method</span> : Check and cash payments</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="details_item">
                        <h4>Shipping Address</h4>
                        <ul class="list">
                            <li>
                                <a href="#"><span>Reciever Name</span> : @_order.FullName</a>
                            </li>
                            <li>
                                <a href="#"><span>Phone number</span> : @_order.PhoneNumber</a>
                            </li>
                            <li>
                                <a href="#"><span>Address </span> : @_order.Address</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="order_details_table">
                <h2>Order Details</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (_orderDetails != null)
                        {
                            @foreach (var detail in _orderDetails)
                            {
                                @(_totalPrice = _totalPrice + detail.Product.Price * detail.Quantity)
                                <tr>
                                    <td>
                                        <p>@detail.Product.Name</p>
                                    </td>
                                    <td>
                                        <h5>x @detail.Product.Price</h5>
                                    </td>
                                    <td>
                                        <h5>x @detail.Quantity</h5>
                                    </td>
                                    <td>
                                        <p>@(detail.Product.Price * detail.Quantity)</p>
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-info"@onclick="() => OpenProduct(detail.ProductId)">View product</button>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <h4>Subtotal</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>$@_totalPrice</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Shipping</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>Free ship(COD)</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Total</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>$@_totalPrice</p>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</section>


@code {

    // Request parameters
    [Parameter]
    public string OrderId { get; set; }

    private Orders _order;
    private OrderDetail[] _orderDetails;

    private decimal? _totalPrice = 0;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _order = await Http.GetFromJsonAsync<Orders>($"/api/order/byId?orderId={OrderId}");
        _orderDetails = await Http.GetFromJsonAsync<OrderDetail[]>($"/api/order/details?orderId={OrderId}");
    }

    private void OpenProduct(int productId)
    {
        NavigationManager.NavigateTo($"/product/{productId}");
    }

}