﻿@page "/ChangeInfoPage"


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Change infor page</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--				login area-->

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Information</h3>

                    @if (_message != null)
                    {
                        <div class="alert alert-danger">@_message</div>
                    }

                    <EditForm Model="@_accountChangingInfoModel" OnValidSubmit="@OnUpdateButtonClick">
                        <DataAnnotationsValidator/>
                        <div class="form-group">
                            <label>New FullName :</label>
                            <div>
                                <InputText @bind-Value="@_accountChangingInfoModel.FullName"/>
                                <ValidationMessage For="@(() => _accountChangingInfoModel.FullName)"/>
                            </div>
                            <label>New Address :</label>
                            <div>
                                <InputText @bind-Value="@_accountChangingInfoModel.Address"/>
                                <ValidationMessage For="@(() => _accountChangingInfoModel.Address)"/>
                            </div>

                            <label>New Phone :</label>
                            <div>
                                <InputText @bind-Value="@_accountChangingInfoModel.Phone"/>
                                <ValidationMessage For="@(() => _accountChangingInfoModel.Phone)"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Update Info
                        </button>
                    </EditForm>
                </div>
            </div>

            <!--				Register area-->
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Password</h3>
                    @if (_messagePasseword != null)
                    {
                        <div class="alert alert-danger">@_messagePasseword</div>
                    }

                    <EditForm Model="@_passwordModel" OnValidSubmit="@OnChangeButtonClick">
                        <DataAnnotationsValidator/>
                        <div class="form-group">
                            <label>Old password :</label>
                            <div>
                                <InputText type="password" @bind-Value="@_passwordModel.OldPassword"/>
                                <ValidationMessage For="@(() => _passwordModel.OldPassword)"/>
                            </div>
                            <label>Password :</label>
                            <div>
                                <InputText type="password" @bind-Value="@_passwordModel.NewPassword"/>
                                <ValidationMessage For="@(() => _passwordModel.NewPassword)"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Update Password
                        </button>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>
</section>


@code {

    private readonly AccountChangingInfoModel _accountChangingInfoModel = new AccountChangingInfoModel();
    private string _message;

    private async Task OnUpdateButtonClick()
    {
        var response = await client.PostAsJsonAsync("api/users/changeInfo", _accountChangingInfoModel);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("product");
        }
        else
        {
            _message = "Some thing wrong!";
    // NavigationManager.NavigateTo("product");
        }
    }

    private readonly PasswordModel _passwordModel = new PasswordModel();
    private string _messagePasseword;

    private async Task OnChangeButtonClick()
    {
        var response = await client.PostAsJsonAsync("api/users/changepassword", _passwordModel);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("login", true);
        }
        else
        {
            _messagePasseword = "Some thing wrong!";
            // NavigationManager.NavigateTo("product");
        }
    }
}