﻿@page "/ChangePassword"
<h3>ChangePassword</h3>

@if (_message != null)
{
    <div class="alert alert-danger">@_message</div>
}

<EditForm Model="@_passwordModel" OnValidSubmit="@OnUpdateButtonClick">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label>Old password :</label>
        <div>
            <InputText type="password" @bind-Value="@_passwordModel.OldPassword" />
            <ValidationMessage For="@(() => _passwordModel.OldPassword)"/>
        </div>
        <label>Password :</label>
        <div>
            <InputText type="password" @bind-Value="@_passwordModel.NewPassword"/>
            <ValidationMessage For="@(() => _passwordModel.NewPassword)"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">
        Update Password
    </button>
</EditForm>

@code {

    private readonly PasswordModel _passwordModel = new PasswordModel();
    private string _message;

    private async Task OnUpdateButtonClick()
    {
        var response = await client.PostAsJsonAsync("api/users/changepassword", _passwordModel);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            _message = "Some thing wrong!";
        }
    }

}