﻿<h3>CurrentUser</h3>

@if (_users != null)
{
    <span>@_users.FullName</span>
}

@code {
    private Users _users;

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await Http.GetAsync("/api/users/currentuser");
        if (response.IsSuccessStatusCode)
        {
            _users = await response.Content.ReadFromJsonAsync<Users>();
        }
    }

}