﻿@page "/Login"
@using Microsoft.Extensions.Logging
@inject HttpClient Http

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login / Register</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--				login area-->

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in</h3>
                    @if (_message != null)
                    {
                        <div class="alert alert-danger">@_message</div>
                    }

                    <EditForm Model="@_userInfo" OnValidSubmit="@OnLoginButtonClick">
                        <DataAnnotationsValidator/>
                        <div class="form-group">
                            <label>Username :</label>
                            <div>
                                <InputText @bind-Value="@_userInfo.UserName"/>
                                <ValidationMessage For="@(() => _userInfo.UserName)"/>
                            </div>
                            <label>Password :</label>
                            <div>
                                <InputText type="password" @bind-Value="@_userInfo.Password"/>
                                <ValidationMessage For="@(() => _userInfo.Password)"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                    </EditForm>
                </div>
            </div>

            <!--				Register area-->
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Register</h3>

                    @if (_messageRegister != null)
                    {
                        <div class="alert alert-danger">@_messageRegister</div>
                    }

                    <EditForm Model="@_user" OnValidSubmit="@OnRegisterButtonClick">
                        <DataAnnotationsValidator/>
                        <div class="form-group">

                            <label>Username :</label>
                            <div>
                                <InputText @bind-Value="@_user.Id"/>
                                <ValidationMessage For="@(() => _user.Id)"/>
                            </div>

                            <label>Password :</label>
                            <div>
                                <InputText type="password" @bind-Value="@_user.Password"/>
                                <ValidationMessage For="@(() => _user.Password)"/>
                            </div>

                            <label>Full name :</label>
                            <div>
                                <InputText @bind-Value="@_user.FullName"/>
                                <ValidationMessage For="@(() => _user.FullName)"/>
                            </div>

                            <label>Address :</label>
                            <div>
                                <InputText @bind-Value="@_user.Address"/>
                                <ValidationMessage For="@(() => _user.Address)"/>
                            </div>
                            <label>Phone :</label>

                            <div>
                                <InputText type="tel" @bind-Value="@_user.Phone"/>
                                <ValidationMessage For="@(() => _user.Phone)"/>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary">
                            Sign up
                        </button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

    private readonly UserLoginModel _userInfo = new UserLoginModel();
    private string _message;

    private async Task OnLoginButtonClick()
    {
        var response = await client.PostAsJsonAsync("api/users/authenticate", _userInfo);
        if (response.IsSuccessStatusCode)
        {
            // NavigationManager.NavigateTo("product");
            NavigationManager.NavigateTo("product", true);
        }
        else
        {
            _message = "Wrong user name or password";
        }
    }

    private readonly NewAccount _user = new NewAccount();
    private string _messageRegister;

    private async Task OnRegisterButtonClick()
    {
        var response = await client.PostAsJsonAsync("api/users/register", _user);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("login");
        }
        else
        {
            _messageRegister = "This username has existed";
        }
    }

}