﻿@page "/RegisterPage"
<h3>Sign up</h3>

@if (_message != null)
{
    <div class="alert alert-danger">@_message</div>
}

<EditForm Model="@_user" OnValidSubmit="@OnRegisterButtonClick">
    <DataAnnotationsValidator/>
    <div class="form-group">

        <label>Username :</label>
        <div>
            <InputText @bind-Value="@_user.Id"/>
            <ValidationMessage For="@(() => _user.Id)"/>
        </div>

        <label>Password :</label>
        <div>
            <InputText type="password" @bind-Value="@_user.Password"/>
            <ValidationMessage For="@(() => _user.Password)"/>
        </div>

        <label>Full name :</label>
        <div>
            <InputText @bind-Value="@_user.FullName"/>
            <ValidationMessage For="@(() => _user.FullName)"/>
        </div>

        <label>Address :</label>
        <div>
            <InputText @bind-Value="@_user.Address"/>
            <ValidationMessage For="@(() => _user.Address)"/>
        </div>
        <label>Phone :</label>

        <div>
            <InputNumber @bind-Value="@_user.Phone"/>
            <ValidationMessage For="@(() => _user.Phone)"/>
        </div>

    </div>
    <button type="submit" class="btn btn-primary">
        Sign up
    </button>
</EditForm>

@code {

    private readonly NewAccount _user = new NewAccount();
    private string _message;

    private async Task OnRegisterButtonClick()
    {
        var response = await client.PostAsJsonAsync("api/users/register", _user);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("login");
        }
        else
        {
            _message = "This username has existed";
        }
    }

}