@page "/brand/edit/{brandId:int}"
@inject NavigationManager uriHelper
@inject IJSRuntime js
<h3>Edit</h3>
<BrandForm ButtonText="Update" brand="brand"
      OnValidSubmit="@EditDeveloper" />
@code {
    [Parameter] public int brandId { get; set; }
    Brand brand = new Brand();
    protected override async Task OnParametersSetAsync()
    {
        brand = await client.GetFromJsonAsync<Brand>($"api/brand/id?brandId={brandId}");
    }
    async Task EditDeveloper()
    {
        await client.PutAsJsonAsync("api/brand", brand);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("brand");
    }
}