@page "/brand/create"
@inject NavigationManager uriHelper
<h3>Create Brand</h3>
<BrandForm ButtonText="Create Brand" brand="@brand"
            OnValidSubmit="@CreateBrand" />
@code {
    Brand brand = new Brand();
    async Task CreateBrand()
    {
        HttpResponseMessage responseMessage = await client.PostAsJsonAsync("api/brand", brand);
        Brand newBrand = await responseMessage.Content.ReadFromJsonAsync<Brand>();
        if (newBrand != null)
        {
            uriHelper.NavigateTo("brand");
        }
    }
}