﻿<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <button class="page-link" @onclick="@GetCurrentPage" tabindex="-1">Previous</button>
        </li>
        <li class="page-item"><a class="page-link" href="#">"@CurrentPage - 1"</a></li>
        <li class="page-item active">
            <a class="page-link" href="#">"@CurrentPage"<span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">"@CurrentPage + 1"</a></li>
        <li class="page-item">
            <button class="page-link" >Next</button>
        </li>
    </ul>
</nav>

@code {
    [Parameter] public int CurrentPage { get; set; }
    [Parameter] public EventCallback GetCurrentPage { get; set; }
}
