﻿<EditForm Model="@product" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group ">
        <div>
            <label>Phone Name :</label>
            <div>
                <InputText @bind-Value="@product.Name" />
                <ValidationMessage For="@(() => product.Name)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Price</label>
            <div>
                <InputNumber @bind-Value="@product.Price" />
                <ValidationMessage For="@(() => product.Price)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Brand:</label>
            <div>
                <select @bind="@product.BrandId">
                    @foreach (Brand brand in brands)
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }

                </select>
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Description: </label>
            <div>
                <InputTextArea @bind-Value="@product.Description" />
                <ValidationMessage For="@(() => product.Description)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Quantity: </label>
            <div>
                <InputNumber @bind-Value="@product.Quantity" />
                <ValidationMessage For="@(() => product.Quantity)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>status:</label>
            <div>
                <select @bind="@product.Status">
                    <option value="@true">Available</option>
                    <option value="@false">Unavailable</option>
                </select>
            </div>
        </div>
    </div>
    <img src="/images/@product.ImagePath" alt="@product.Name" />
    <InputFile OnChange="@HandleSelection" />
    <p>@status</p>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public Product product { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public Brand[] brands { get; set; }
    [Parameter] public MultipartFormDataContent content { get; set; }
    string status;
    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            // Just load into .NET memory to show it can be done
            // Alternatively it could be saved to disk, or parsed in memory, or similar
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);
            status = $"Finished loading {file.Size} bytes from {file.Name}";
            string tmp = file.Name;
            string fileName = getFileName(tmp);
            product.ImagePath = fileName;
            content.Add(new ByteArrayContent(ms.GetBuffer()), "\"images\"", fileName);
        }
    }

    private String getFileName(String fileName)
    {
        try
        {
            string timestamp = DateTime.Now.ToString("hh.mm.ss.ffffff");
            fileName = timestamp + fileName;
            return fileName;
        }
        catch (Exception e)
        {
            return "";
        }
    }
}
