﻿
<span class="multi-range">
    Min price: <input type="range" min="0" max="25000000" id="lower" step="100000" @onchange="@((ChangeEventArgs e) => OnMinPriceChange.InvokeAsync(e.Value.ToString()))">
    Max price: <input type="range" min="25000000" max="50000000" id="upper"  step="100000" @onchange="@((ChangeEventArgs e) => OnMaxPriceChange.InvokeAsync(e.Value.ToString()))">
</span>

@code {
    //[Parameter] public decimal MinPrice { get; set; }
    //[Parameter] public decimal MaxPrice { get; set; }
    [Parameter] public EventCallback<string> OnMinPriceChange { get; set; }
    [Parameter] public EventCallback<string> OnMaxPriceChange { get; set; }
}
