<input type="text" @bind-value="@keyword"/>
<button class="btn btn-outline-info" @onclick="@(() => OnClick.InvokeAsync(keyword))">Search</button>

@code {
    private string keyword;

    [Parameter]
    public EventCallback<string> OnClick { get; set; }

}