﻿
@*     @foreach (Brand brand in brands) *@
@*     { *@
@*         <option class="dropdown-item" value="@brand.Id">@brand.Name</option> *@
@*     } *@
    
<ul>
    <li class="filter-list"><input class="pixel-radio" type="radio" name="category" value="0" checked="checked" @onclick="(() => OnSelectBrand.InvokeAsync(allId))"><label for="apple">All<span></span></label></li>

    @foreach (Brand brand in brands)
    {
        <li class="filter-list"><input class="pixel-radio" type="radio" name="category" value="@brand.Id"  @onclick="(() => OnSelectBrand.InvokeAsync(brand.Id.ToString()))"><label for="apple">@brand.Name<span></span></label></li>
@*                 <c:choose> *@
@*                     <c:when test="${param.get('sellectedCategory').contains('all')}"> *@
@*                         <li class="filter-list"><input class="pixel-radio" onchange="reload()" type="radio" name="category" value="all" checked="checked" onclick="handleClick(this)"><label for="apple">All<span></span></label></li> *@
@*                     </c:when> *@
@* *@
@*                     <c:otherwise> *@
@*                         <li class="filter-list"><input class="pixel-radio" type="radio" name="category" value="all" onclick="handleClick(this)"><label for="apple">All<span></span></label></li> *@
@*                     </c:otherwise> *@
@*                 </c:choose> *@
@*                 <c:set var="categoryList" value="${requestScope.CATEGORY_LIST}"></c:set> *@
@*                 <c:forEach var="category" items="${categoryList}"> *@
@*                     <c:choose> *@
@*                         <c:when test="${param.get('sellectedCategory').equals(category.id.toString())}"> *@
@*                             <li class="filter-list"><input class="pixel-radio" type="radio" name="category" value="${category.id}" checked="checked" onclick="handleClick(this)"><label for="apple">${category.name}<span></span></label></li> *@
@*                         </c:when> *@
@*                         <c:when test="${param.get('sellectedCategory').equals(category.id.toString())}"> *@
@*                             <li class="filter-list"><input class="pixel-radio" type="radio" name="category" value="${category.id}" checked="checked" onclick="handleClick(this)"><label for="apple">${category.name}<span></span></label></li> *@
@*                         </c:when> *@
@*                         <c:otherwise> *@
@*                             <li class="filter-list"><input class="pixel-radio" type="radio" name="category" value="${category.id}" onclick="handleClick(this)"><label for="apple">${category.name}<span></span></label></li> *@
@*                         </c:otherwise> *@
@*                     </c:choose> *@
@*                 </c:forEach> *@
    }
</ul>


@code {
    private string allId = "0";
    [Parameter] public Brand[] brands { get; set; }
    [Parameter] public EventCallback<string> OnSelectBrand { get; set; }
}
